<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>Photo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item *ngIf="latitude && longitude">
        <ion-label>Location: [ {{ latitude }}, {{ longitude }} ] </ion-label>
    </ion-item>
    <img alt="Photo" [src]="photo">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="takePicture()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>