<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>Element List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item button *ngFor="let element of elements" (click)="elementItemOnClick()">
            <ion-label>
                <h2>Element Id: {{ element.elementId }}</h2>
                <h3>Description: {{ element.description }}</h3>
                <p>Other: {{ element.other }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>