<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Native OPS
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text>
        <h4>Esta aplicación se desarrolló con el objetivo probar dos funciones nativas: </h4>
        <ul>
            <li>Geolocalización del dispositivo</li>
            <li>Utilización de la cámara</li>
        </ul>
        <p> Se implentó una funcionalidad que permite acceder a la cámara del dispositivo y tirar una foto y un servicio que devuelve la geolocalizavión.</p>
    </ion-text>

    <section>
        <ion-button expand="block" color="secondary" (click)="goToPhoto()">Take photo</ion-button>
        <ion-button expand="block" color="warning" (click)="goToList()">Element list</ion-button>
    </section>
</ion-content>